* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dashboard-header {
    background: #011418;
    padding: 20px 0;
}

.dashboard-header__container {
    max-width: 98%;
    margin: 0 auto;
    color: #fff;
    font-family: 'Pr', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header__buttons {
    display: flex;
    align-items: center;
    max-width: 140px;
    justify-content: space-between;
}

.dh__buttons_item {
    background-color: #02313a;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dh__buttons_item:hover {
    cursor: pointer;
    background-color: #034652;
}

.dashboard-header__container  svg {
    fill: #fff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



.main-wrap {
    display: flex;
}

.content-box {
    padding: 30px 20px;
    font-family: 'Pr', sans-serif;
    font-size: 25px;
    width: 100%;
}

.content-box__title {
    margin-bottom: 30px;
}

.preview-table {
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 25px;
    font-size: 16px;
}

.preview-table-title {
    color: rgb(87, 88, 90);
    width: 100%;
    border-bottom: 1px solid rgba(87, 88, 90, 0.3);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview-table-container {
    padding-top: 10px;
    color: rgb(87, 88, 90);
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow-y: scroll;
}

.preview-table-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(87, 88, 90, 0.3);
    padding: 10px 0;
}

.preview-table-item:first-child {
    padding-top: 0;
}

.preview-table-item-name {
    width: 180px;
}

.preview-table-item-team {
    width: 145px;
}

.preview-table .field {
    max-width: 320px;
}

button.field {
    width: 320px;
}

.photo-player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 320px;
}

.success-icon svg {
    fill: rgb(1, 165, 1);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.info-photo {
    width: 30px;
    height: 30px;
    fill: green;
}