* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.wrap {
    position: relative;
    margin: 0;
}

.news-text {
    position: absolute;
    top: 60px;
    left: -60px;
    font-size: 22px;
    color: #003333;
    font-family: 'goboldB', sans-serif;
    text-transform: uppercase;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}


.arrows {
    position: absolute;
    z-index: -1;
    left: 0;
}

.wrap-container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.main-news-container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.main-news-container img {
    width: 100%;
}

.news-container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50% - 325px);
    right: -150px;
    z-index: 2;
    
}

.news-item {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 180px;

}

.news-item:hover{
    cursor: pointer;
}

.news-item img {
    height: 100%;
    width: 100%;
}

.all-news {
    color: #cc3366;
    font-family: 'goboldI', sans-serif;
    text-transform: uppercase;
        border: 2px solid rgb(218, 218, 218);
        border-radius: 12px;
        background: #fff;
        width: 300px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        text-decoration: none;
}

.all-news:hover {
    cursor: pointer;
}



.red-title-text {
    color: #cc3366;
    font-family: 'goboldI', sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
}

/* Video section */


.news-section {
    margin-top: 150px;
}

.news-section__container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.video-block {
    margin-bottom: 30px;
    max-width: 700px;
    max-height: 393px;
}



.video-block img {
    height: 100%;
    width: 100%;
}

.constructor .main-img-container {
    width: 450px;
    overflow: hidden;
    height: 394px;
}



.constructor .main-img-container img.main-image  {
    object-fit: cover;
}


.constructor .subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.video-block .image-container {
    width: 220px;
    height: 193px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 8px;
}

.image-container:last-child {
    margin-bottom: 0;
}

.image-subcontainer {
    height: 100%;
}

.image-subcontainer img {
    height: 100%;
    object-fit: cover;
}

.constructor-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Galley Section */


/* video mp */
.video-block {
    position: relative;
}

.play-btn {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100px;
    max-height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 3;
}


.gallery-component {
    margin-top: 100px;
}

.social-section {
    margin-top: 170px;
    margin-bottom: 250px;
}


